@media (min-width: 769px) and (max-width: 992px) {
  /* Logo */
  .navbar-brand {
    padding: 0;
  }
  .no-background .logo-scrolled {
    width: 85%;
    padding-top: 2px;
  }
  .logo-scrolled {
    padding-top: 8px;
    width: 80%
  }
  /* Logo */

  /* Banner */
  .bg .bg-text {
    margin-top: 40%;
    margin-left: 22%;
  }
  .bg .bg-text h2 {
    font-size: 40px;
  }
  .bg .bg-text h4 {
    font-size: 25px;
  }
  .bg .bouncing-icon {
    left: 47%;
    margin-top: 80%;
    font-size: 25px;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
	/* Logo */
	.navbar-brand {
		padding: 0;
	}
	.no-background .logo-scrolled {
		width: 70%;
		padding-top: 7px;
	}
	.logo-scrolled {
		padding-top: 12px;
		width: 70%
	}
	/* Logo */

	/* Banner */
	.bg .bg-text {
		margin-left: 28%;
    margin-top: 55%;
	}
	.bg .bg-text h2 {
		padding-top: 50px;
		font-size: 20px;
	}
	.bg .bg-text h4 {
		font-size: 16px;
	}
	.bg .bouncing-icon {
		left: 47%;
		margin-top: 120%;
		font-size: 25px;
	}
	/* Banner */
}


@media (min-width: 321px) and (max-width: 480px) {
	/* Logo */
	.navbar-brand {
		padding: 0;
	}
  .no-background .logo-scrolled {
    width: 65%;
    padding-top: 10px;
  }
  .logo-scrolled {
    padding-top: 12px;
    width: 65%
  }
  /* Logo */

  /* Banner */
  .bg .bg-text h2 {
    font-size: 20px;
    padding-top: 150%;
  }
  .bg .bg-text h4 {
    font-size: 15px;
  }
  .bg .bouncing-icon {
    margin-top: 180%;
    left: 46%;
  }
  /* Banner */

  /* Testimonial */
  .testimonial-comment .testimonial-comment-main {
    font-size: 12px;
  }
  /* Testimonial */

  /* scrolltotop */
  .scrolltotop {
    right: 10%;
  }
  /* scrolltotop */
}
